<template>
  <div>
    <Header />
    <b-container>
      <b-row class="justify-content-md-center">
        <b-col cols="5">
          <!-- <h2 class="error return text-center">Error 401</h2> -->
          <b-form @submit="onSubmit" v-if="show" class="form__login">
            <h1 class="title-h1">Ingresar a mi cuenta</h1>
            <b-form-group
              id="input-group-1"
              label="Your Name:"
              label-for="input-1"
            >
              <b-form-input
                id="input-1"
                v-model="form.id"
                required
                placeholder="Enter name"
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-2"
              label="Your Password:"
              label-for="input-2"
            >
              <b-form-input
                id="input-2"
                v-model="form.pass"
                required
                placeholder="Enter password"
                type="password"
              ></b-form-input>
            </b-form-group>
            <b-button type="submit" block variant="danger">Ingresar</b-button>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>



<script>
  import axios from 'axios'
  const Cookie=process.client? require('js-cookie'):undefined
  import Header from '@/components/header';


  export default {
    middleware: 'notAuthenticated',
    components: {
      Header
    },
    data() {
      return {
        form: {
          id: 'test_automation_000@pedidosya.com',
          pass: 'abc1234'
        },
        show: true
      }
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()

        axios.get(`api/login?clientId=${this.form.id}&clientSecret=${this.form.pass}`).then(res => {
          console.log(res.data)
          setTimeout(() => { // we simulate the async request with timeout.
            const auth={
              accessToken: res.data
            }
            this.$store.commit('setAuth',auth) // mutating to store for client rendering
            Cookie.set('auth',auth) // saving token in cookie for server rendering
            //this.$router.push('/')
          },1000)
        })
          .catch(
            err => console.log(err.message),
            //err //=> this.error=err.response.status
          );
      }

    }
  }
</script>

<style lang="scss">
  .title-h1 {
    color: #0684b4;
    font-size: 1.2rem;
    font-family: 'Muli';
    font-weight: bold;
  }
  .form__login {
    margin-bottom: 300px;
    padding: 30px;
    margin-top: 50px;
    transition: all 0.3s ease-in-out;
    background-color: rgba(6, 132, 180, 0.025);
    box-shadow: 0 1px 2px rgba(122, 82, 82, 0.09);
    &:hover {
      box-shadow: 0 2px 3px rgba(122, 82, 82, 0.18);
      background-color: rgba(6, 132, 180, 0.052);
    }
  }
  .error {
    display: none;
  }
  .return {
    display: block;
    color: #dc3545;
    font-family: 'Muli';
    font-weight: bold;
  }
</style>