<template>
  <div>
    <a
      v-for="negocio in negocios"
      v-if="negocio.opened === 1"
      :href="
        'http://www.pedidosya.com.uy/restaurantes/montevideo/' +
          negocio.link +
          '-menu'
      "
      class="link__card"
      target="_blank"
    >
      <b-card no-body class="overflow-hidden">
        <b-row no-gutters>
          <b-col md="2">
            <picture class="link__card--picture">
              <!-- Para la imgagen usar la URL + la imagen https://d1v73nxuzaqxgd.cloudfront.net/restaurants/logo.jpg -->
              <!-- :src="require('~/assets/card/' + negocio.logo)" -->
              <!-- :src="urlimage + negocio.logo" -->
              <b-card-img
                :src="urlimage + negocio.logo"
                class="rounded-0"
              ></b-card-img>
            </picture>
          </b-col>
          <b-col md="10">
            <b-card-body>
              <b-card-title :class="'is-' + negocio.isNew"
                >{{ negocio.name }} | {{ negocio.coordinates }}</b-card-title
              >
              <b-card-sub-title class="mb-2">
                <span
                  :class="
                    'link__card--ranking-starts rating_' + negocio.rating + ''
                  "
                ></span
                ><span class="link__card--ranking-points">{{
                  negocio.rating
                }}</span></b-card-sub-title
              >
              <b-card-text>
                <span class="link__card--address">{{ negocio.address }}</span>
                <span class="link__card--categories">
                  <span
                    v-for="item in negocio.categories.slice(0, 3)"
                    :key="item.name"
                    >{{ item.name }}</span
                  >
                </span>
              </b-card-text>
            </b-card-body>
            <b-card-footer>
              <span class="link__card--distancia">
                <span>{{ negocio.distance }} km</span>
                <span>distancia</span>
              </span>
              <span class="link__card--tiempo">
                <span
                  >{{ negocio.deliveryTimeMinMinutes }} -
                  {{ negocio.deliveryTimeMaxMinutes }} mins</span
                >
                <span>tiempo de entrega</span>
              </span>
              <span class="link__card--tiempo">
                <span v-if="negocio.shippingAmount === 0">Gratis</span>
                <span v-else>{{ negocio.shippingAmount }}$</span>
                <span>costo de envío</span>
              </span>
              <span class="link__card--button-card">
                Ver productos
              </span>
            </b-card-footer>
          </b-col>
        </b-row>
      </b-card>
    </a>
  </div>
</template>

<script>
  import VuexPersistence from 'vuex-persist'
  export default {
    data() {
      return {
        negocios: {},
        urlimage: 'https://d1v73nxuzaqxgd.cloudfront.net/restaurants/',
      }
    },
    mounted() {
      let key=window.localStorage.getItem('vuex')
      let keyJson=JSON.parse(key)

      console.log(keyJson.listaDeNegocios)

      if(keyJson.listaDeNegocios===null) {
        console.log('Vacia')
        console.log(keyJson.listaDeNegocios)

      } else {
        console.log('Llena')
        console.log(keyJson.listaDeNegocios.data.count)
        let negociosLocal=keyJson.listaDeNegocios.data.data
        function even(arr) {
          // Set slice() to avoid to generate an infinite loop!
          return arr.slice().sort(function(a,b) {
            return b.rating-a.rating;
            console.log(b.rating-a.rating)
          })
        }
        this.negocios=even(negociosLocal)
      }






    },
    methods: {
      /* even: function(arr) {
        // Set slice() to avoid to generate an infinite loop!
        return arr.slice().sort(function(a,b) {
          return b.rating-a.rating;
        });
      } */
    },
    computed: {
      /*      negocios: function() {
             return this.$store.state.listaDeNegocios;
           } */
    }
  }
</script>

<style lang="scss">
  .link__card {
    display: block;
    margin: 10px 0px;
    color: #000;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.3s ease-in-out;
    padding: 10px 10px;
    position: relative;
    border-radius: 10px;
    &:hover {
      text-decoration: none;
      box-shadow: 0 2px 3px rgba(122, 82, 82, 0.18);
      outline: none;
      color: #000;
      background-color: rgba(6, 132, 180, 0.052);
    }
    .card {
      border: none;
      background-color: transparent;
    }
  }
  .card-body {
    padding: 0 10px;
  }
  .link__card--picture {
    display: table;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(122, 82, 82, 0.18);
    margin: 3px;
  }
  .card-title {
    color: #0684b4;
    font-size: 1.2rem;
    font-family: 'Muli';
    font-weight: bold;
  }
  .card-title.is-true:before {
    content: 'Nuevo';
    display: inline-block;
    background: #e34737;
    font-size: 0.4em !important;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px 6px 0 0 !important;
    padding: 5px 4px !important;
    transform: translateY(-4px);
    border-radius: 3px;
  }
  .card-subtitle {
    position: relative;
  }
  .link__card--ranking-points {
    padding: 4px 6px;
    position: relative;
    font-size: 14px;
    font-style: normal;
    top: -0.2em;
    color: #fff;
    border-radius: 3px;
  }
  .link__card--ranking-starts {
    background: url('~assets/card/stars-sprite-a.svg') no-repeat;
    height: 16px;
    width: 90px;
    display: inline-block;
    position: absolute;
    left: 30px;
  }
  .rating_00 {
    background-position: -88px 0px;
    + span {
      background: rgb(62, 53, 37) !important;
    }
  }
  .rating_05 {
    background-position: -70px -18px;
    + span {
      background: rgb(62, 53, 37) !important;
    }
  }
  .rating_10 {
    background-position: -70px 0px;
    + span {
      background: rgb(171, 136, 72) !important;
    }
  }
  .rating_15 {
    background-position: -56px -18px;
    + span {
      background: rgb(171, 136, 72) !important;
    }
  }
  .rating_20 {
    background-position: -56px 0px;
    + span {
      background: rgba(247, 202, 64, 1) !important;
    }
  }
  .rating_25 {
    background-position: -36px -18px;
    + span {
      background: rgba(247, 202, 64, 1) !important;
    }
  }
  .rating_30 {
    background-position: -36px 0px;
    + span {
      background: rgba(211, 217, 55, 1) !important;
    }
  }
  .rating_35 {
    background-position: -18px -18px;
    + span {
      background: rgba(211, 217, 55, 1) !important;
    }
  }
  .rating_40 {
    background-position: -18px 0px;
    + span {
      background: rgba(109, 200, 64, 1) !important;
    }
  }

  .rating_45 {
    background-position: 0 -18px;
    + span {
      background: rgba(109, 200, 64, 1) !important;
    }
  }

  .rating_50 {
    background-position: 0px 0px;
    + span {
      background: rgba(13, 155, 103, 1) !important;
    }
  }
  .link__card--address {
    font-size: 14px;
    font-family: Lato;
    padding: 0 0 0 1.2em;
    display: inline-block;
    background: url('~assets/card/sprite-icon-opt.svg') no-repeat -9px -2529px;
    background-size: 31px 3240px;
    margin: 0 1.2em 0 0;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .link__card--categories {
    font-size: 14px;
    font-family: Lato;
    padding: 0 0 0 1.2em;
    display: inline-block;
    background: url('~assets/card/sprite-icon-opt.svg') no-repeat no-repeat -10px -2565px;
    background-size: 31px 3240px;
    margin: 0 1.2em 0 0;
    max-width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span:after {
      content: ' • ';
      font-size: 0.7rem;
      margin: 0;
      color: #5f6060;
    }
    span:nth-last-child(1):after {
      content: none;
    }
  }
  .card-footer {
    padding: 0 10px;
    background-color: transparent;
    border-top: none;
  }
  .link__card--distancia,
  .link__card--tiempo,
  .link__card--tiempo {
    padding: 0px 10px;
    display: inline-block;
    span {
      font-size: 12px;
      font-weight: bold;
      display: block;
      text-align: center;
    }
    span + span {
      font-weight: 400;
    }
  }
  .link__card--button-card {
    position: absolute;
    bottom: 0;
    right: 0px;
    color: #fff;
    background-color: #f52f41;
    font-family: Muli;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  /*         v-if="
                                                                                                                                                                                                  negocio.opened === 1 ||
                                                                                                                                                                                                    negocio.businessType === selected_cat ||
                                                                                                                                                                                                    selected_cat === 'RESTAURANT'
                                                                                                                                                                                                " */
</style>

