<template>
  <ul class="top_categories">
    <li v-for="category in categories" class="li__category">
      <nuxt-link :to="category.link" :class="'icon icon-' + category.icon">
        {{ category.text }}</nuxt-link
      >
    </li>
  </ul>
</template>

<script>
  export default {
    data() {
      return {
        categories: [
          {icon: 'restau',text: ' Restaurantes',link: '/restaurantes'},
          {icon: 'super',text: ' Mercados',link: '/mercados'},
          {icon: 'bebidas',text: ' Bebidas',link: '/bebidas'},
          {icon: 'farmacias',text: ' Farmacias',link: '/farmacias'},
          {icon: 'mascotas',text: ' Mascotas',link: '/mascotas'},
          {icon: 'tiendas',text: ' Tiendas',link: '/tiendas'},
          {icon: 'cafes',text: ' Cafés',link: '/cafes'},
          {icon: 'flores',text: ' Flores',link: '/flores'}
        ]
      }
    }
  }
</script>

<style>
</style>