<template>
  <header>
    <b-container>
      <b-navbar>
        <b-navbar-brand href="/">
          <img class="brand" src="~/assets/logo.svg" alt="PedidosYa" />
        </b-navbar-brand>
        <h1 class="navbar__information">
          Locales cercanos a ti
        </h1>

        <div v-if="$store.state.auth">
          <span @click="logout">
            <span class="navbar__username"><span>User name</span> | Close</span>
          </span>
        </div>
        <div v-else>
          <a class="navbar__username" href="/login">Login</a>
        </div>
      </b-navbar>
    </b-container>
  </header>
</template>

<script>
  const Cookie=process.client? require('js-cookie'):undefined

  export default {
    data() {
      return {
        cantidad: 0
      }
    },
    methods: {
      logout() {
        Cookie.remove('auth')
        this.$store.commit('setAuth',null)
        console.log('Click en Header');
        //return store;
      }
    },
    mounted() {
      if(window.localStorage.getItem('vuex'===!null)) {
        let key=window.localStorage.getItem('vuex')
        let keyJson=JSON.parse(key)
        this.cantidad=keyJson.listaDeNegocios.data.count
      }
    }
  }
</script>

<style lang="scss">
  header {
    //background-color: transparent !important;
    background-image: url('~assets/banners/breakfast-6.jpg');
    background-size: cover;
    background-position: center center;
    .container {
      min-height: auto !important;
      display: block !important;
      .navbar {
        height: 160px;
        position: relative;
        a {
          display: table;
          position: absolute;
          top: 0;
          width: 155px;
        }
        .navbar__information {
          position: absolute;
          bottom: 0;
          color: #fff;
          max-width: 75%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-weight: 700;
          font-family: 'Muli';
          font-size: 2em;
        }
        .navbar__username {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 10px;
          margin: 0.7em 0 0 0.7em;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 150px;
          white-space: nowrap;
          color: #fff;
          font-weight: 700;
          font-size: 1em;
          font-family: Lato;
          text-align: right;
        }
      }
    }
  }
  .brand {
    min-width: 125px;
    max-width: 155px;
  }
</style>
