<template>
  <div id="map">
    <p>Current Location {{ currentLoc }}</p>
    <gmap-map :center="center" :map-type-id="mapTypeId" :zoom="15">
      <gmap-marker
        v-for="(item, index) in markers"
        :key="index"
        :position="item.position"
        :draggable="true"
        @drag="updateCoordinates"
        @click="center = item.position"
      />
    </gmap-map>
    <b-btn block variant="primary" @click="onClickCurrent"
      >Confirmar ubicación</b-btn
    >
  </div>
</template>

<script>
  import axios from "axios"
  import VuexPersistence from 'vuex-persist'
  const Cookie=process.client? require('js-cookie'):undefined
  export default {
    data() {
      //var Uruguay={lat: -34.888935,lng: -56.1601571};
      return {
        currentLoc: {},
        lat: {},
        long: {},
        maplocation: {lat: 0,lng: 0},
        center: {lat: -34.888935,lng: -56.1601571},
        mapTypeId: "terrain",
        markers: [
          {
            position: {lat: -34.888935,lng: -56.1601571},
          },
        ],
      };
    },
    methods: {
      updateCoordinates(location) {
        this.currentLoc={
          lat: location.latLng.lat(),
          lng: location.latLng.lng(),
        };
      },
      async onClickCurrent() {
        try {
          let data=await getPosition();
          let data2={};
          data2.lat=data.coords.latitude;
          data2.lng=data.coords.longitude;
          this.$set(this.currentLoc,this.center);

          // Trae las coordenadas de Geolocalización
          //this.$set(this.center,"lat",data2.lat);
          //this.$set(this.center,"lng",data2.lng);

          // Para la prueba paso las coordenadas a mano
          //this.$set(this.center,"lat",-34.867900);
          //this.$set(this.center,"lng",-56.1801500);

          // Agrega el nuevo marcador
          //this.$set(this.markers[0].position,"lat",-34.867900);
          //this.$set(this.markers[0].position,"lng",-56.1801500);

          //Googlemap
          this.maplocation.lat=data2.lat;
          this.maplocation.lng=data2.lng;
          //this.$refs.mmm.panTo(this.maplocation);

          // Coordenadas del Marcador
          let getMarkerLat=this.currentLoc.lat
          let getMarkerLng=this.currentLoc.lng

          // Traer locales
          let token=this.$store.state.auth.accessToken
          console.log(token)
          const API_AUTH_ACCESSTOKEN_URL='/api/v1/search/restaurants'
          const TOKEN_APP=token
          const PAIS=1
          // Obtiene coordenadas del marcador o current location
          // Para desarrollo

          let LAT=getMarkerLat
          let LOG=getMarkerLng

          // Para desarrollo
          //let LAT=-34.868935
          //let LOG=-56.1801571
          // Para produccion
          //let LAT=data2.lat
          //let LOG=data2.lng
          const COORDENADA=`${LAT},${LOG}`

          const listaDeNegocios=await axios({
            method: 'get',
            url: API_AUTH_ACCESSTOKEN_URL,
            params: {
              country: PAIS,
              point: COORDENADA,
            },
            headers: {Authorization: TOKEN_APP},
          })
          this.$store.commit('setNegocios',listaDeNegocios)
          this.datos=localStorage.getItem('vuex')

          // Taaer los mrcadores

          let key=window.localStorage.getItem('vuex')
          let keyJson=JSON.parse(key)
          let todosLocles=keyJson.listaDeNegocios.data.data
          //console.log(todosLocles)
          //for(var i=0;i<todos.length;i++) {

          for(var i in todosLocles) {
            /*             let StringCoor=todosLocles[i].coordinates
                        let coordenadas=StringCoor.split(',')
                        let latMarker=coordenadas[0]
                        let lngMarker=coordenadas[1]
            
                        let onePosition={lat: latMarker,lng: lngMarker} */

            //markers.position
            //console.log(coor[0])
            let StringCoor=todosLocles[i].coordinates
            let coordenadas=StringCoor.split(',')
            let latMarker=coordenadas[0]
            let lngMarker=coordenadas[1]
            let onePosition={position: {lat: latMarker,lng: lngMarker}}

            this.markers.push(onePosition)

            this.google.maps.Marker({
              position: {
                lat: latMarker,
                lng: lngMarker
              },
              map: this.map,
            });

            //

            // console.log(onePosition)

          }
          //this.$set(this.makersPush=56.1801571)
          //this.$set(this.makersPush=56.18015345)

          //}


        } catch(e) {
          console.log('--error',e);
        }
      }
    },
  }
  var getPosition=function(options) {
    return new Promise(function(resolve,reject) {
      navigator.geolocation.getCurrentPosition(resolve,reject,options);
    });
  }
</script>

<style lang="scss" scoped>
  .vue-map-container {
    height: 500px;
    width: auto;
    width: 100%;
  }
</style>


