<template>
  <b-row>
    <b-col sm="2">
      <section class="view">
        <div class="view__wrapper">
          <b-button class="view-button" v-b-modal.mapa>Mapa</b-button>

          <b-modal
            id="mapa"
            size="xl"
            centered
            title="Marcá tu ubicación exacta en el mapa"
            ok-only
          >
            <Map />
          </b-modal>
        </div>
      </section>
    </b-col>
    <b-col sm="10">
      <section class="filter__search row">
        <b-col sm="2">
          <h5 class="filter__search--title">Ordenar:</h5>
        </b-col>
        <b-col sm="5">
          <label class="sr-only" for="ordenar">Ordenar</label>
          <b-form-select
            id="ordenar"
            v-model="selected"
            :options="options"
            class="filter__search--select"
          ></b-form-select>
        </b-col>

        <b-col sm="5">
          <label class="sr-only" for="buscar">Buscar</label>
          <b-input
            v-model="search"
            id="buscar"
            placeholder="Buscar local"
          ></b-input>
        </b-col>
      </section>
    </b-col>
  </b-row>
</template>

<script>
  import Map from '../components/Map';
  export default {
    components: {
      Map
    },
    data() {
      return {
        search: '',
        selected: null,
        options: [
          {value: null,text: 'Recomendados'},
          {value: 'a',text: 'Mas cercanos'},
          {value: 'b',text: 'Mejor puntuados'},
          {value: 'c',text: 'Menor tiempo de entrega'},
          {value: 'd',text: 'Menor costo de envío'},
          {value: 'e',text: 'Más nuevos'},
          {value: 'f',text: 'Alfabéticamente'}
        ]
      }
    }
  }
</script>

<style lang="scss">
  .view__wrapper {
    display: inline-block;
  }
  .filter__search--title {
    display: inline-block;
  }
  .filter__search--select {
    width: auto;
    width: 100%;
    position: relative;
  }
  .view {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .view-button {
    font-size: 0.7rem;
    background: #f52f41;
    border-color: #f52f41;
  }
  .filter__search {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .modal-header {
    h5,
    .close {
      color: #fff;
    }
  }
</style>