@charset "UTF-8";

@font-face {
  font-family: 'pedidosya';
  src: url('~assets/css/fonts/pedidosya.eot');
  src: url('~assets/css/fonts/pedidosya.eot?#iefix') format('embedded-opentype'),
    url('~assets/css/fonts/pedidosya.woff') format('woff'),
    url('~assets/css/fonts/pedidosya.ttf') format('truetype'),
    url('~assets/css/fonts/pedidosya.svg#pedidosya') format('svg');
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'pedidosya' !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
}

[class^='icon-']:before,
[class*=' icon-']:before {
  font-family: 'pedidosya' !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  transform: translateY(10px);
  display: inline-block;
  z-index: 9999;
  margin-left: -25px;
}
.icon-restau:before {
  content: '\66';
  color: #f52f41;
}
.icon-restau {
  &:hover {
    background-color: #f52f41;
    text-decoration: none;
  }
}
.icon-super:before {
  content: '\67';
  color: #ade800;
}
.icon-super {
  &:hover {
    background-color: #ade800;
    text-decoration: none;
  }
}
.icon-bebidas:before {
  content: '\61';
  color: #f77ee9;
}
.icon-bebidas {
  &:hover {
    background-color: #f77ee9;
    text-decoration: none;
  }
}
.icon-farmacias:before {
  content: '\63';
  color: #00bded;
}
.icon-farmacias {
  &:hover {
    background-color: #00bded;
    text-decoration: none;
  }
}
.icon-cafes:before {
  content: '\62';
  color: #c47d27;
}
.icon-cafes {
  &:hover {
    background-color: #c47d27;
    text-decoration: none;
  }
}

.icon-flores:before {
  content: '\64';
  color: #ff247d;
}
.icon-flores {
  &:hover {
    background-color: #ff247d;
    text-decoration: none;
  }
}
.icon-mascotas:before {
  content: '\65';
  color: #ff9513;
}
.icon-mascotas {
  &:hover {
    background-color: #ff9513;
    text-decoration: none;
  }
}

.icon-tiendas:before {
  content: '\68';
  color: #feca13;
}

.icon-tiendas {
  &:hover {
    background-color: #feca13;
    text-decoration: none;
  }
}

/* *,
*:before,
*:after {
  box-shadow: 1px 1px 0 #00bded, -1px -1px 0 #00bded;
} */
