@charset "UTF-8";

@font-face {
  font-family: "pedidosya";
  src:url("fonts/pedidosya.eot");
  src:url("fonts/pedidosya.eot?#iefix") format("embedded-opentype"),
    url("fonts/pedidosya.woff") format("woff"),
    url("fonts/pedidosya.ttf") format("truetype"),
    url("fonts/pedidosya.svg#pedidosya") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pedidosya" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pedidosya" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bebidas-launcher:before {
  content: "\61";
}
.icon-cafes-launcher:before {
  content: "\62";
}
.icon-farmacias-launcher:before {
  content: "\63";
}
.icon-flores-launcher:before {
  content: "\64";
}
.icon-mascotas-launcher:before {
  content: "\65";
}
.icon-restaurant-launcher:before {
  content: "\66";
}
.icon-supermarket-launcher-new:before {
  content: "\67";
}
.icon-tiendas-launcher:before {
  content: "\68";
}
