<template>
  <footer class="footer__background">
    <b-container>
      <b-row>
        <b-col><h5>PedidosYa © 2010-2019</h5></b-col>
      </b-row>
    </b-container>
  </footer>
</template>

<script>
  export default {

  }
</script>

<style lang="scss">
  footer.footer__background {
    min-height: 170px;
    padding: 30px 0;
    background: #f52f41;
    position: relative;
    z-index: 1;
  }
  footer div {
    margin: 0 auto;
    h5 {
      text-align: center;
      font-size: 0.917em;
      color: #ffffff;
    }
  }
</style>