<template>
  <div>
    <Header />
    <b-container>
      <b-row>
        <b-col sm="3">
          <Categories />
        </b-col>
        <b-col sm="9">
          <Search />
          <Card />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
  const Cookie=process.client? require('js-cookie'):undefined
  import Header from '../components/header';
  import Categories from '../components/categories';
  import Card from '../components/card';
  import Search from '../components/Search'

  export default {
    middleware: 'notAuthenticated',
    components: {
      Header,
      Categories,
      Card,
      Search
    },
    data() {
      return {
        selected_cat: '',
        selected: null,
        lat: '-34.869575677673296',
        long: '-56.18323459882811',
      }
    },
    methods: {
      async onSubmit(evt) {
        evt.preventDefault()
        let token=this.$store.state.auth.accessToken
        console.log(token)
        const API_AUTH_ACCESSTOKEN_URL='/api/v1/search/restaurants'
        const TOKEN_APP=token
        const PAIS=1
        let LAT=this.lat
        let LOG=this.long
        const COORDENADA=`${LAT},${LOG}`

        const listaDeNegocios=await axios({
          method: 'get',
          url: API_AUTH_ACCESSTOKEN_URL,
          params: {
            country: PAIS,
            point: COORDENADA,
          },
          headers: {Authorization: TOKEN_APP},
        })
        //this.$store.commit('setNegocios',listaDeNegocios)
        this.$store.commit('setNegocios',listaDeNegocios)
        this.datos=listaDeNegocios
      }
    }
  }
</script>

<style lang="scss">
  .top_categories {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px !important;
  }
  .page-enter-active,
  .page-leave-active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 5000ms;
  }

  .page-enter,
  .page-leave-to {
    opacity: 0;
  }
  .li__category {
    display: block;
    margin-left: 35px;
    padding: 5px 0 5px 0;
    .icon {
      font-weight: bold;
      color: black;
      font-size: 12px;
      line-height: 1.6;
      font-family: Lato;
      font-weight: 500;
      transition: all ease-in-out 0.2s;
      &:hover {
        color: #fff;
        border-radius: 0px 10px 10px 0;
        padding: 3px 10px 3px 0px;
      }
    }
  }
</style>
